*{
    box-sizing: border-box;
}


html {
    min-height: 100%;
}


@font-face {
    font-family: Satisfy;
    src: url("../fonts/Satisfy/Satisfy-Regular.ttf");
}


header{
    background-color: black;
}


body{
    min-height: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: black !important;
    position: relative;
    padding-bottom: 100px; /** hauteur du footer + 30px */
}


li{
    list-style: none;
}


nav{
    background-color: #b00054;
    font-family: "Satisfy", cursive;
    font-size: xx-large;
}


nav a{
    color: black;
}


nav ul{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}


nav li :hover,
nav li .active{
    text-decoration: none;
    color: white;
}


.imgHeader{
    width: 100%;
}


.logo{
    padding: 20px;
    width: 50px;
}


.panier{
    margin-top: 30px;
    float: right;
    color: #b00054;
    font-size: x-large;
    font-weight: bold;
    &:hover{
        text-decoration: none;
        color: white;
    }
    &_img {
        width: 70px;
        height: 70px;
    }
    &_compte{
        position: absolute;
        top: 24px;
        left: 16px;
        right: 0;
        text-align: center;
    }
    width: 50px;
    height: 50px;
    position: relative;
}


h3, .h3{
    font-family: "Satisfy", cursive;
}


h4{
    color: #b00054;
    font-size: 1.5rem;
}


.contenu{
    color: white;
    text-align: center;
    justify-content: center;
    align-content: flex-end; 
    &_vin{
        margin-left: 200px;
    }
}


.btn-plus{
    width: 30px;
}


.return{
    width: 45px;
}


a{
    text-decoration: none;
}


.btn-style{
    background-color: #b00054;
    color: white;
    padding : 5px 50px;
    border-radius: 30px;
    border: white 1px solid;
    margin-top: 3rem;
    &:hover{
        text-decoration: none;
        color: white;
    }
}


.pink{
    color: #b00054;
}


hr{
    border-top: 2px solid !important;
    width: 50%;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;

}


.img_chef {
    position: absolute;
    bottom: 0;
    right: 15px;
    max-width: 10%;
    z-index: 10;
}


.footer{
    /** permet au footer de rester en bas de page */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 70px;
    line-height: 70px;
    background-color: #b00054;
    text-align: center;
    font-size: 20px;
    color : white;
    &_avatar{
        font-style: italic;
        font-size: small;
        position: absolute;
        right: 12%;
        bottom: 0;
        p {
            line-height: 7px;
        }
    }
}