{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}

    <div>
        <h1 class="display-5">Administration</h1>
        <p class="lead">Bienvenue dans l'interface de gestion de vos stocks</p>
    </div>
    <div>
        <img src="{{ asset('images/logoAdmin.png') }}" class="mt-5" alt="logo">
    </div>

{% endblock %}