<div class="footer">
    <p>Powered by EasyClick Restauration</p>
    <div class="footer_avatar">
        <div>
            <p>"Avec <b>EasyClick</b>, j'ai opté pour le"</p>
            <p>savoir faire à la française"</p>
        </div>
        <img src="{{ asset('images/chef.png') }}" class="footer_img" alt="image du chef">
    </div>
</div> 