{% extends 'base.html.twig' %}

{% set citation = true %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-6 mt-5 contenu">
            <h3>Le H en 4 services 58€</h3>
            <hr>
            <p>Rouget - Betterave hibiscus</p>
            <p>Poitrine de porc - Oignon - Tamarin</p>
            <hr>
            <p>Volaille fermière, trompette de la mort, céleri rave,</p>
            <p>citron vert</p>
            <p>Ou</p>
            <p>Barbue, carotte, coques yuzu</p>
            <hr>
            <p>Framboise - Vanille - Estragon</p>
            <p>Ou</p>
            <p>Chocolat - Pistache - Cardamone Noir</p>
            <div>
                <a href="#" class="mt-3 btn btn-style">Ajouter</a>
            </div>
        </div>
        <div class="col-6 mt-5 contenu">
            <h3>Le H en 4 services 58€</h3>
            <hr>
            <p>Rouget - Betterave hibiscus</p>
            <p>Poitrine de porc - Oignon - Tamarin</p>
            <hr>
            <p>Volaille fermière, trompette de la mort, céleri rave,</p>
            <p>citron vert</p>
            <p>Ou</p>
            <p>Barbue, carotte, coques yuzu</p>
            <hr>
            <p>Framboise - Vanille - Estragon</p>
            <p>Ou</p>
            <p>Chocolat - Pistache - Cardamone Noir</p>
            <div>
                <a href="#" class="mt-3 btn btn-style">Ajouter</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
