{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <div class="row contenu mt-5">
            <h3>Votre commande a bien été validée. Merci</h3>
        </div>
    </div>

{% endblock %}